<section id="contact" class="bg-secondaryColor py-16 m-20">
    <div class="container flex flex-col gap-5 md:items-center md:flex-row">
      <div class="space-y-4 md:flex-1">
        <h2 class="text-3xl font-oswald font-bold uppercase text-blackColor">GET EXCLUSIVE UPDATE</h2>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="flex flex-col gap-3 md:flex-row md:flex-1">
        <input type="email" placeholder="Email address" class="p-2 text-blackColor rounded-lg outline-none md:w-full">
        <a href="" class="flex items-center justify-center gap-2 btn bg-blackColor hover:opacity-75 text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200">
          <i class="fa-solid fa-paper-plane"></i>
          Subscribe
        </a>
      </div>
    </div>
  </section>