---

---

<section id="home" class="pt-16 pb-4 md:pt-20 py-20 m-20">
    <div class="container flex flex-col items-center gap-10 md:flex-row">
      <div class="mx-auto md:basis-1/2 lg:basis-2/5 animate-movingY">
        <img src="/img/ad-image-1.png" alt="home image" class="home__image w-60 md:w-full">
      </div>

      <div class="home__content text-center md:basis-1/2 md:text-start lg:basis-3/5">
        <h1 class="text-4xl font-oswald font-bold uppercase lg:text-6xl">HAPPY TUMMY WITH TASTY BURGERS.</h1>
        <div class="w-28 h-[2px] bg-secondaryColor my-5 mx-auto md:mx-0"></div>
        <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,libero magni? Fugiat perspiciatis eius, sequi aliquid ullam dolorem temporibus voluptate corrupti fugit saepe sunt unde culpa? Tenetur quos quod laudantium.</p>
        <div class="text-base flex items-center justify-center gap-4 py-10 md:justify-start md:gap-20">
          <div class="text-center">
            <i class="fa-solid fa-utensils text-secondaryColor text-4xl"></i>
            <br />
            Delicious
          </div>

          <div class="text-center">
            <i class="fa-solid fa-droplet text-secondaryColor text-4xl"></i>
            <br />
            Fresh
          </div> 

          <div class="text-center">
            <i class="fa-brands fa-envira text-secondaryColor text-4xl"></i>
            <br />
            Organic
          </div>
        </div>

        <a href="#" class="inline-block text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200 text-blackColor bg-secondaryColor hover:opacity-75">learn more</a>
      </div>
    </div>
  </section>