---
// import Swiper from 'swiper';
// import 'swiper/css';

// const swiper = new Swiper('.swiper', {
//     speed: 400,
//     spaceBetween: 30,
//     autoplay: {
//       delay: 3000,
//       disableOnInteraction: false
//     },
//     // If we need pagination
//     pagination: {
//       el: '.swiper-pagination',
//       clickable: true
//     },
//     grabCursor: true,
//     breakpoints: {
//       // when window width is >= 640px
//       640: {
//         slidesPerView: 1,
//       },
//       // when window width is >= 768px
//       768: {
//         slidesPerView: 2,
//       },
//       // when window width is >= 1024px
//       1024: {
//         slidesPerView: 3,
//       }
//     }
//   });

---



<section id="review" class="bg-primaryColorLight dark:bg-darkColorLight py-20 m-20">
    <div class="customer__review container">
      <div class="max-w-md mx-auto text-center">
        <h2 class="text-3xl font-oswald font-bold uppercase">CUSTOMER REVIEW</h2>
        <div class="w-28 h-[2px] bg-secondaryColor my-5 mx-auto"></div>
        <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>

      <div class="swiper py-10">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="flex flex-col gap-5 bg-primaryColor dark:bg-darkColor rounded-lg p-6">
              <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ut amet voluptas asperiores alias sed consequatur.</p>
              <div class="flex items-center">
                <img src="img/review-1.jpg" alt="review image" class="w-12 h-12 rounded-full">
                <div class="ml-2">
                  <p class="font-oswald uppercase">John doe</p>
                  <p class="text-paragraphColor text-xs leading-5">Designer</p>
                </div>
                <i class="fa-solid fa-quote-right text-4xl text-secondaryColor ml-auto"></i>
              </div>
            </div>
          </li>

          <li class="swiper-slide">
            <div class="flex flex-col gap-5 bg-primaryColor dark:bg-darkColor rounded-lg p-6">
              <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ut amet voluptas asperiores alias sed consequatur.</p>
              <div class="flex items-center">
                <img src="img/review-2.jpg" alt="review image" class="w-12 h-12 rounded-full">
                <div class="ml-2">
                  <p class="font-oswald uppercase">John doe</p>
                  <p class="text-paragraphColor text-xs leading-5">Designer</p>
                </div>
                <i class="fa-solid fa-quote-right text-4xl text-secondaryColor ml-auto"></i>
              </div>
            </div>
          </li>

          <li class="swiper-slide">
            <div class="flex flex-col gap-5 bg-primaryColor dark:bg-darkColor rounded-lg p-6">
              <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ut amet voluptas asperiores alias sed consequatur.</p>
              <div class="flex items-center">
                <img src="img/review-3.jpg" alt="review image" class="w-12 h-12 rounded-full">
                <div class="ml-2">
                  <p class="font-oswald uppercase">John doe</p>
                  <p class="text-paragraphColor text-xs leading-5">Designer</p>
                </div>
                <i class="fa-solid fa-quote-right text-4xl text-secondaryColor ml-auto"></i>
              </div>
            </div>
          </li>

          <li class="swiper-slide">
            <div class="flex flex-col gap-5 bg-primaryColor dark:bg-darkColor rounded-lg p-6">
              <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ut amet voluptas asperiores alias sed consequatur.</p>
              <div class="flex items-center">
                <img src="img/review-4.jpg" alt="review image" class="w-12 h-12 rounded-full">
                <div class="ml-2">
                  <p class="font-oswald uppercase">John doe</p>
                  <p class="text-paragraphColor text-xs leading-5">Designer</p>
                </div>
                <i class="fa-solid fa-quote-right text-4xl text-secondaryColor ml-auto"></i>
              </div>
            </div>
          </li>

          <li class="swiper-slide">
            <div class="flex flex-col gap-5 bg-primaryColor dark:bg-darkColor rounded-lg p-6">
              <p class="text-paragraphColor text-xs leading-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa ut amet voluptas asperiores alias sed consequatur.</p>
              <div class="flex items-center">
                <img src="img/review-5.jpg" alt="review image" class="w-12 h-12 rounded-full">
                <div class="ml-2">
                  <p class="font-oswald uppercase">John doe</p>
                  <p class="text-paragraphColor text-xs leading-5">Designer</p>
                </div>
                <i class="fa-solid fa-quote-right text-4xl text-secondaryColor ml-auto"></i>
              </div>
            </div>
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>



